body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background: linear-gradient(90deg, #000a99 0%, #a800e6 100%); 
  }
  
  .page-logo {
    width: 800px;
    border-radius: 30px;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }